body{
    background-color: #282A36;
    font-family: "Helvetica", "Arial", sans-serif;
}

#title{
    text-align: center;
    font-size: 48px;
    color: #8be9fd;
}

#container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#btn{
    text-align: center;
    font-size: 0;
    border-radius: 10px;
    padding: 10px;
}

#results p{
    text-align: center;
    font-size: 36px;
    color: #8be9fd;
    font-weight: bold;
}

#score{
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    color: white;
}

img{
    max-width: 200px;
    height: auto;
}