body{
    background-color: #282A36;
    font-family: "Helvetica", "Arial", sans-serif;
}

#title{
    text-align: center;
    font-size: 48px;
    color: #8be9fd;
}

.container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#btn{
    text-align: center;
    font-size: 0;
    border-radius: 10px;
    padding: 10px;
}

.log p{
    text-align: center;
    font-size: 36px;
    color: #8be9fd;
    font-weight: bold;
}

.log #resultList{
    text-align: center;
    color: #F8F8F2;
    font-weight: bold;
    font-size: 24px;
}

.score{
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    color: #8be9fd;
}

.score :is(#playerScore, #compScore, #ties){
    color:white;
    font-weight: bold;
}

img{
    max-width: 200px;
    height: auto;
}