body{
    background-color: #282A36;
    font-family: "Helvetica", "Arial", sans-serif;
}

#title{
    text-align: center;
    font-size: 48px;
    color:aliceblue;
}

#container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

img{
    max-width: 200px;
    height: auto;
}